.background {
    background: #3e3e3e;
    background-size: cover;
    width: 100%;

}

td, th {
    height: 70px;
    border: 5px solid #3e3e3e;

}

.content {
    width: 700px;
    margin: 24px auto;
    padding-left: 55px;

}
.styleWhite {
    background-color: #f3f3f3;
}

.styleBlack {
    background-color: #000;
}

.styleBlue {
    background-color: #0d7fbe;
}

.styleYellow {
    background-color: #fae317;
}

.styleRed {
    background-color: #f50f0f;
}

.color {
    background-color: #3e3e3e;
}



